<a href="#contacto" class="btn">Contáctame</a>

<style>
    .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: var(--color-primario);
    color: var(--color-textohero);
    border-radius: 25px;
    font-size: 1rem;
}
    .btn:hover {
    background-color: var(--color-primario-hover);
}
</style>