---
import '../styles/global.css'
---
<section id="contacto">
    <h2>Contacto</h2>
    <p>Si deseas colaborar o necesitas más información, no dudes en contactarme.</p>
    <p>Email: erichp.1991@gmail.com</p>
    <p>GitHub: <a href="https://github.com/erichp-git">erichp-git</a></p>
</section>

<style>
    #contacto {
        background-color: var(--color-blanco);
        padding: 50px 20px;
        text-align: center;
    }

    #contacto h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    #contacto p {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    #contacto a {
        color: var(--color-primario);
    }
</style>