---
import '../styles/global.css'
---
<footer>
    <p>Eric Hernández. Sin licencia.</p>
</footer>

<style>
    footer {
        background-color: var(--color-header-footer);
        color: var(--color-textohero);
        text-align: center;
        padding: 20px;
    }
</style>