---
import "../styles/global.css"
---
<section id="habilidades">
    <h2>Habilidades</h2>
    <ul>
        <li>Diseño: Photoshop, InDesign, CorelDraw</li>
        <li>Desarrollo Web: HTML, CSS, JavaScript</li>
        <li>Técnico: Montaje de PCs, Mantenimiento, Optimización de sistemas</li>
    </ul>
</section>

<style>
    #habilidades {
        background-color: var(--color-fondo);
        padding: 50px 20px;
        text-align: center;
    }
    
    #habilidades h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    #habilidades ul {
        list-style: none;
    }
    
    #habilidades li {
        font-size: 1.1rem;
        margin: 10px 0;
    }
</style>